html, body {
    margin: 0;
    width: 350px;
    height: 150px;
}

body {
    background: #000000;
}

.main-box {
    position: absolute;
    inset: 0;
    /* border: 1px solid #777777; */
    /*background: #f2f2f2;*/
}

.heart {
    position: absolute;
    display: flex;
    font-size: 2em;
    animation: fade-out 800ms;
    color: red;
    user-select: none;
    pointer-events: none;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
}

@keyframes fade-out {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100px);
        opacity: 0;
    }
}

#h1 {
    position: fixed;
    inset: 0;
    font-size: 1.5em;
    color: transparent;
    background: linear-gradient(135deg, #0600f1, #d426ff);
    background-clip: text;
    margin: auto;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    user-select: none;
}

.main-box:after {
    content: 'NekoW ♥ Emiko';
    color: #000000;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 20px;
}
